.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.588867;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.690918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.729004;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.725098;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.148926;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);}
.m1{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{margin-left:-1925.839747px;}
._6{margin-left:-15.242174px;}
._4{margin-left:-7.435532px;}
._0{margin-left:-6.169922px;}
._1{margin-left:-3.691405px;}
._2{margin-left:-2.162126px;}
._5{margin-left:-1.046890px;}
._3{width:3.849631px;}
._7{width:472.671851px;}
._8{width:473.794897px;}
._9{width:2957.952975px;}
.fc4{color:rgb(255,81,123);}
.fc0{color:rgb(251,248,248);}
.fc1{color:rgb(248,244,244);}
.fc2{color:rgb(9,0,0);}
.fc3{color:rgb(251,246,246);}
.fs3{font-size:92.000000px;}
.fs1{font-size:108.000000px;}
.fs5{font-size:120.000000px;}
.fs4{font-size:180.000000px;}
.fs2{font-size:268.000000px;}
.fs0{font-size:599.999970px;}
.y0{bottom:0.000000px;}
.y11{bottom:85.000000px;}
.y10{bottom:89.000000px;}
.yf{bottom:503.000000px;}
.ye{bottom:513.000000px;}
.yd{bottom:985.000000px;}
.ya{bottom:1375.000000px;}
.y7{bottom:1516.000000px;}
.y6{bottom:1541.000000px;}
.y5{bottom:1566.000000px;}
.y4{bottom:1591.000000px;}
.y3{bottom:1616.000000px;}
.y2{bottom:1641.000000px;}
.y9{bottom:1719.000000px;}
.y1{bottom:1781.500000px;}
.y8{bottom:1789.000000px;}
.yc{bottom:2002.000000px;}
.yb{bottom:2005.000000px;}
.h4{height:82.701172px;}
.h2{height:140.220703px;}
.h6{height:155.800781px;}
.h5{height:233.701172px;}
.h3{height:347.955078px;}
.h1{height:775.195274px;}
.h0{height:2145.000000px;}
.w0{width:1920.000000px;}
.x0{left:0.000000px;}
.x2{left:93.000000px;}
.x7{left:261.000000px;}
.x3{left:467.000000px;}
.x4{left:609.000000px;}
.x9{left:688.000000px;}
.x8{left:717.000000px;}
.x6{left:889.000000px;}
.x5{left:984.000000px;}
.xa{left:1120.000000px;}
.x1{left:1641.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._a{margin-left:-2567.786330pt;}
._6{margin-left:-20.322898pt;}
._4{margin-left:-9.914042pt;}
._0{margin-left:-8.226562pt;}
._1{margin-left:-4.921874pt;}
._2{margin-left:-2.882835pt;}
._5{margin-left:-1.395854pt;}
._3{width:5.132842pt;}
._7{width:630.229135pt;}
._8{width:631.726530pt;}
._9{width:3943.937300pt;}
.fs3{font-size:122.666667pt;}
.fs1{font-size:144.000000pt;}
.fs5{font-size:160.000000pt;}
.fs4{font-size:240.000000pt;}
.fs2{font-size:357.333333pt;}
.fs0{font-size:799.999960pt;}
.y0{bottom:0.000000pt;}
.y11{bottom:113.333333pt;}
.y10{bottom:118.666667pt;}
.yf{bottom:670.666667pt;}
.ye{bottom:684.000000pt;}
.yd{bottom:1313.333333pt;}
.ya{bottom:1833.333333pt;}
.y7{bottom:2021.333333pt;}
.y6{bottom:2054.666667pt;}
.y5{bottom:2088.000000pt;}
.y4{bottom:2121.333333pt;}
.y3{bottom:2154.666667pt;}
.y2{bottom:2188.000000pt;}
.y9{bottom:2292.000000pt;}
.y1{bottom:2375.333333pt;}
.y8{bottom:2385.333333pt;}
.yc{bottom:2669.333333pt;}
.yb{bottom:2673.333333pt;}
.h4{height:110.268229pt;}
.h2{height:186.960938pt;}
.h6{height:207.734375pt;}
.h5{height:311.601562pt;}
.h3{height:463.940104pt;}
.h1{height:1033.593698pt;}
.h0{height:2860.000000pt;}
.w0{width:2560.000000pt;}
.x0{left:0.000000pt;}
.x2{left:124.000000pt;}
.x7{left:348.000000pt;}
.x3{left:622.666667pt;}
.x4{left:812.000000pt;}
.x9{left:917.333333pt;}
.x8{left:956.000000pt;}
.x6{left:1185.333333pt;}
.x5{left:1312.000000pt;}
.xa{left:1493.333333pt;}
.x1{left:2188.666667pt;}
}
